*{
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
}
.menu{
    
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
}

.op{
    float: left;
}
li a{
    font-size: 1.5em;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover{
    background-color: #1d3557;

}
h1{
    text-align: center;
    padding: 20px;
    margin: 5px auto;
    font-size: 3em;
    background-color: #ffcba4;
    color: black;
    
}
body{
    background-color: #e4fbfb;
}
section{
    text-align: left;
    background-color: #c7f7f7;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 10px;
    border: 5px solid #1d3557;
    margin: 20px 30px;
    

}
.imagen{
    text-align: center;
}
h2{
    padding: 15px;
}
table{
    
    margin: 15px auto;
    padding: 15px ;
}
article{
    text-align: center;
}
h3{
    padding: 15px;
    font-size: 25px;
}
th{
    background-color: #ecd6c0;
}
td{
    background-color: #ffffec;
}
footer{
    background-color: #457b9d;
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
}

